#hoadon {
  // * {
  //   box-sizing: border-box;
  //   -moz-box-sizing: border-box;
  // }
  // img {
  //   width: 100%;
  // }
  // .img-logo {
  //   max-width: 30%;
  // }
  // .page {
  //   width: 21cm;
  //   overflow: hidden;
  //   min-height: 297mm;
  //   padding: 2.5cm;
  //   margin-left: auto;
  //   margin-right: auto;
  //   background: white;
  //   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  // }
  // .subpage {
  //   padding: 1cm;
  //   border: 5px red solid;
  //   height: 237mm;
  //   outline: 2cm #ffeaea solid;
  // }
  // @page {
  //   size: A5;
  //   margin: 0;
  // }
  // button {
  //   width: 100px;
  //   height: 24px;
  // }
  // .header-page {
  //   // overflow: hidden;
  //   justify-content: space-between;
  //   display: flex;
  // }
  // //   .logo {
  // //     background-color: #ffffff;
  // //     max-width: 50%;
  // //   }
  // .company {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;

  //   background-color: #ffffff;
  //   color: #000;
  // }
  // .header-title {
  //   text-transform: uppercase;
  // }
  // .address {
  //   font-size: small;
  //   display: flex;
  //   align-items: start;
  //   text-align: left;
  // }
  // .title {
  //   text-align: center;
  //   position: relative;
  //   color: #0000ff;
  //   font-size: 24px;
  //   top: 1px;
  // }
  // .footer-left {
  //   text-align: center;
  //   text-transform: uppercase;
  //   padding-top: 24px;
  //   position: relative;
  //   height: 150px;
  //   width: 50%;
  //   color: #000;
  //   float: left;
  //   font-size: 12px;
  //   bottom: 1px;
  // }
  // .footer-right {
  //   text-align: center;
  //   text-transform: uppercase;
  //   padding-top: 24px;
  //   position: relative;
  //   height: 150px;
  //   width: 50%;
  //   color: #000;
  //   font-size: 12px;
  //   float: right;
  //   bottom: 1px;
  // }
  // .TableData {
  //   background: #ffffff;
  //   font: 11px;
  //   width: 100%;
  //   border-collapse: collapse;
  //   font-family: Verdana, Arial, Helvetica, sans-serif;
  //   font-size: 12px;
  //   border: thin solid #d3d3d3;
  // }
  // .TableData TH {
  //   background: rgba(0, 0, 255, 0.1);
  //   text-align: center;
  //   font-weight: bold;
  //   color: #000;
  //   border: solid 1px #ccc;
  //   height: 24px;
  // }
  // .TableData TR {
  //   height: 24px;
  //   border: thin solid #d3d3d3;
  // }
  // .TableData TR TD {
  //   padding-right: 2px;
  //   padding-left: 2px;
  //   border: thin solid #d3d3d3;
  // }
  // .TableData TR:hover {
  //   background: rgba(0, 0, 0, 0.05);
  // }
  // .TableData .cotSTT {
  //   text-align: center;
  //   width: 10%;
  // }
  // .TableData .cotTenSanPham {
  //   text-align: left;
  //   width: 40%;
  // }
  // .TableData .cotHangSanXuat {
  //   text-align: left;
  //   width: 20%;
  // }
  // .TableData .cotGia {
  //   text-align: right;
  //   width: 120px;
  // }
  // .TableData .cotSoLuong {
  //   text-align: center;
  //   width: 50px;
  // }
  // .TableData .cotSo {
  //   text-align: right;
  //   width: 120px;
  //   color: #000;
  // }
  // .TableData .tong {
  //   text-align: right;
  //   color: #000;
  //   font-weight: bold;
  //   text-transform: uppercase;
  //   padding-right: 4px;
  // }
  // .TableData .cotSoLuong input {
  //   text-align: center;
  // }
  // @media print {
  //   @page {
  //     margin: 0;
  //     border: initial;
  //     border-radius: initial;
  //     width: initial;
  //     min-height: initial;
  //     box-shadow: initial;
  //     background: initial;
  //     page-break-after: always;
  //   }
  // }

  /* Feature: css bill.
  *  author: Thanh That.
  *  Date: 19/09/2021
  */

  img {
    max-width: 100%;
    display: block;
  }

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 3rem;

    .img-logo {
      width: 30%;
    }

    .company {
      flex: 1;
      font-size: 14px;

      span {
        display: block;
      }

      .header-title {
        font-weight: 700;
        margin-bottom: 8px;
        text-align: left;
      }

      .address {
        font-size: 10px;
        span {
          display: flex;
          flex-direction: column;
          align-items: start;
        }
      }
    }
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  // .header {
  //   text-align: center;
  //   font-size: 24px;
  // }

  .bill-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 12px;
  }

  .bill-table th,
  .bill-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .bill-table th {
    background-color: #f2f2f2;
  }

  .total {
    margin-top: 20px;
    text-align: right;
  }

  .footer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
    font-size: 16px;
  }

  // print
  @media print {
    #hoadon {
      width: 26mm; /* Độ rộng của giấy A10 */
      height: 37mm; /* Độ cao của giấy A10 */
      margin: 0;
      padding: 0;
      font-size: 12px;
    }

    /* Thiết lập kích thước cho các phần tử khác trên trang */
    .container {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }

    .header,
    .bill-table,
    .total {
      font-size: 12px; /* Điều chỉnh kích thước chữ để vừa với giấy A10 */
    }

    /* Ẩn các đường viền và background mà bạn không muốn in ra */
    .bill-table th,
    .bill-table td {
      // border: none;
      // background: none;
    }
  }
}
